@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@400;700&display=swap");

body,
html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url(../../asset/bg_ukmlk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #49317F;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #b721ff 0%, #21d4fd 100%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
    background: linear-gradient(0deg, #b721ff 0%, #21d4fd 100%);
    border-radius: 10px;
}

.btnn {
    text-decoration: none;
    color: #2B3743;
}

.btnn:hover {
    color: #FBE99C;
}

/* .btnn:focus{
    color:#FBE99C;
} */
#contact {
    color: white;
}

#contact:hover {
    color: #FBE99C;
}

.focus {
    color: #FBE99C;
}

/* NAVBAR */
/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 1;
    backdrop-filter: blur(5px);
}

.sticky {
    background-color: #2B3743
}

.header a {
    text-decoration: none;
    color: #FBE99C;
    font-size: 2rem;
}

.menu-items {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.menu-items li a {
    font-size: 1rem;
    padding: 0.28em 1em;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.menu-items li a:hover {
    color: #4b847d;
}

/* nav menu button */
.menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 1;
}

.menu-btn__lines,
.menu-btn__lines::before,
.menu-btn__lines::after {
    width: 1.5rem;
    height: 0.1rem;
    background-color: #FBE99C;
    transition: all 0.5s ease-in-out;
}

.menu-btn__lines::before,
.menu-btn__lines::after {
    content: "";
    position: absolute;
}

.menu-btn__lines::before {
    transform: translateY(-0.5rem);
}

.menu-btn__lines::after {
    transform: translateY(0.5rem);
}

/* animation */
.menu-btn.open .menu-btn__lines {
    transform: translateX(2rem);
    background-color: transparent;
}

.menu-btn.open .menu-btn__lines::before {
    transform: rotate(45deg) translate(-1.5rem, 1.5rem);
    background-color: #FBE99C;
}

.menu-btn.open .menu-btn__lines::after {
    transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
    background-color: #FBE99C;
}

/* media query for tablet devices */
@media (max-width: 1023px) {
    /* .custom-shape-divider svg {
        width: calc(200% + 1.3px);
        height: 150px;
    }

    .hero-col {
        max-width: 100%;
        width: clamp(300px, 50vw, 600px);
        padding: 0;
    }

    .hero-img {
        display: none;
    } */
}

/* media query for mobile devices */
@media (max-width: 767px) {
    .custom-shape-divider svg {
        width: calc(250% + 1.3px);
        height: 150px;
    }

    .header a {
        font-size: 1rem;
    }

    .menu-btn {
        display: flex;
    }

    .menu-items {
        flex-direction: column;
        /* justify-content: space-around; */
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        transform: translateX(100vw);
        background-color: #4b847d;
        transition: transform 0.3s ease-in-out;
    }

    .menu-items.open {
        transform: translateX(0);
    }

    .menu-items li {
        width: 100vw;
        /* height: 100%; */
    }

    .menu-items li a {
        color: #FBE99C;
        font-size: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .menu-items li a:hover {
        color: #4b847d;
    }
}

.btn-D {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.btn-D:hover,
.btn-D:focus {
    color: #fff;
    outline: 0;
}

.btn-daftar {
    border-color: #f1c40f;
    color: #fff;
    background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.btn-daftar:hover {
    background-position: 0;
}